/************************************************
Debug structure
************************************************/

nav {
    height: 90px;
    background-color: var(--drk-grey);
}

nav .container,
nav .col-4,
nav .col-1 {
    height: 100%;
    border: 1px solid black;
}

.jumbo {
    height: 500px;
    background-color: var(--green);
    color: white;
}

.jumbo img {
    height: 260px;
}

section {
    min-height: 500px;
}

.box {
    height: 360px;
    background-color: salmon;
    border-radius: 20px;
}

section:nth-child(2) {
    background-color: var(--green);
    color: white;
}

.up-foot {
    height: 500px;
    background-color: var(--blue-grey);
}

.down-foot {
    height: 90px;
    background-color: var(--drk-grey);
}